@using Epam.ListUsers.WebUI;
@using Epam.ListUsers.Entities;
@{
    var WebUI = new WebUI();
    User[] AllUsers = WebUI.GetListUsers();
    Layout = "~/Layouts/_MainLayout.cshtml";
    PageData["Title"] = "Все пользователи";
}
@foreach (User item in AllUsers)
{
    <div id="my-alert" class="alert alert-light alert-dismissible fade show" role="alert">
        @item.Name (Возраст: @item.Age / Дата рождения: @item.DateOfBirth.Day.@item.DateOfBirth.Month.@item.DateOfBirth.Year / Id: @item.Id)
        @if (@User.Identity.Name != "")
        {
            if (item.AdwardsID.Count > 0)
            {
                @: Список наград:
            }
            foreach (int IdAdward in item.AdwardsID)
            {
                var Adward = WebUI.GetTitleAdward(IdAdward);
                @: @Adward
                byte[] ByteImageAdwardArray = WebUI.GetAdwardImage(IdAdward.ToString());
                try
                {
                    WebImage photo = new WebImage(ByteImageAdwardArray);
                    if (photo != null)
                    {
                        <img class="userimage" width="40" height="40" src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(ByteImageAdwardArray))">
                    }
                }
                catch (Exception)
                {
                    <img src="https://i.pinimg.com/originals/59/8e/19/598e19e4777de33541f7b45867b72157.jpg" width="40" height="40" alt="">
                }
                @:;
            }
        }
        <br />
        @{
            byte[] ByteImageArray = WebUI.GetUserImage(item.Id.ToString());
            try
            {
                WebImage photo = new WebImage(ByteImageArray);
                if (photo != null)
                {
                    <img class="userimage" src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.ImageUser))">
                }
            }
            catch (Exception)
            {
                <img src="https://dokna.ru/wp-content/uploads/2018/03/client_avatar_default.png" width="100" height="100" alt="">
            }
        }
    </div>
}